@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p class="p1" id="parrafo">Hello World</p>  
    <p class="p2">Hola mundo</p>
    <p class="p1">Guten tag Udla</p>
    
    <!--<button type="button" class="btn1">Im a button</button>-->
    <button type="button" class="btn btn-primary">Push me</button>
    <button type="button" class="btn btn-secondary">Push me too</button>
</div>
